@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');


body {
    font-family: 'Roboto Slab', serif;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

header h1{
    font-weight: bolder;
    text-align: center;
   }

header{
    border: 3px solid black;
}

div h3{
    font-size: 1.5em;
}

div p, div ul{
    font-size: 1.05em;
}

img{
    width: 22.5%;
    padding-right: 1%;
}

footer{
    text-align: right;
    padding-top: 3em;
}